
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <h2>ProductApp</h2>
          <div class="d-flex">
              <!-- <button class="btn btn-light ms-2" routerLink="register">Register</button>
              <button class="btn btn-light ms-3" routerLink="login">Login</button> -->
              <button class="btn btn-light ms-3" routerLink="/addproduct">ADD Product</button>
              <!-- <button class="btn btn-light ms-3"routerLink="cart">My Cart</button> -->
              <button class="btn btn-light ms-3" routerLink="/logout">Logout</button> 
          </div>
  </div>
</nav>
<div class="card-layout mt-4">
    
    <div class="card mb-5" *ngFor="let product of products" style="width: 300px;height: 450px;">
      <div class="img-layout">
        <img  src= {{product.imagePath}} class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title fs-5">{{product.name}}</h5>
          <h5 class="card-title fs-6">{{product.description}}</h5>
          <h5 class="card-title fs-7">{{product.price}}</h5>

          <h5 class="card-title"></h5>
          <a routerLink="/updateproduct/{{product.id}}" class="btn btn-primary btn-space">Update </a>
          <a routerLink="/deleteproduct/{{product.id}}" class="btn btn-primary btn-space">Delete </a>
        </div>
      </div>
</div>
