/* .card{
    border-radius: 2px;
    background-color: brown;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
} */
/* .card-layout{
    display: grid;
    justify-content: space-around;
    text-align: center;
    grid-template-columns: auto auto auto auto;
}
.img-layout{
    height: 300px;
    width: 250px;
} */
.card-layout{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.img-layout{
    height: 300px;
    width: 250px;
    align-self: center;
}
.btn-space{
    margin-right: 10px;
}
.card{
    border-radius: 10px;
    border: 5px solid black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}