<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: sticky;">
    <div class="container">
      <h2>ProductApp Admin Panel</h2>
        
            <div class="d-flex">
                <button class="btn btn-light ms-2" routerLink="admindashboard">Home</button>
                <button class="btn btn-light ms-3" routerLink="addproduct">ADD Product</button>
                <button class="btn btn-light ms-3" routerLink="adminlogin">AdminLogin</button>
            </div>
     </div>
    
  </nav>
  
